.git
.github
.gradle
build
out
.idea
*.iml

.env
.env.*

src/main/resources/application-local.yml
src/main/resources/application-local.yaml
src/main/resources/application-dev.yml
src/main/resources/application-dev.yaml
src/main/resources/application-prod.yml
src/main/resources/application-prod.yaml
